<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<h1/>IT Academy</h1>

Thank you for your order !!

<button onclick="window.location.href='/lectures/'">Back to courses list</button>