<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
</head>
<body>
    <div>
        <h1></h1>
            <form action="/" method="POST">
                <label>What is your name? </label>
                <input type="text" name="name">
                <input type="submit" value="add">
            </form>
    </div>
</body>
</html>