<a href="/user/add">Add a new user</a>
<h1>Users list</h1>

<ul>
	<% for (let i = 0 ; i < users.length ; i++)  { %>
	<% if (users[i].iduser == iduser) { %>
	<li>
		<%= users[i].lastname %>  <%= users[i].firstname %>
		<a href="/user/update/<%= i%>">Modify</a>
		<a href="/user/delete/<%= i%>">Delete</a>
	</li>
	<% } %>
	<% } %>
	
</ul>